<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page for assignment 1 in course WEB</title>
</head>
<body>
    <center>
        <h2 style="color: rgb(0, 128, 96);border: 3px solid rgb(2, 9, 14);margin: 5px; padding: 5px;">A Dogs Life</h2>
        <img src="../static/dog.jpg" alt="Dog" width="328">
    </center>
   
    <center> 

        <p style="color: rgb(0,128,96); border: 2px solid rgb(8, 9, 10);margin: 10px; padding: 10px; font-size: large;">
            Hi everyone!  <br>
            this is the best dog page on the internet
        </p>
        </center>

        
    
    
    <nav> 
        <center>
            <img src="../static/contact.png" alt="Dog2" width="30"> <br>
            <a href="ContactUs.html"> Contact Us</a>
         </center>
    
    </nav>
</body>
</html>