<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for assignment 1 in course WEB</title>
    <link rel="stylesheet" href="..//static/DogsDesign.css">
    <script defer src="..//static/DogsFunctions.js"></script>
</head>
<body>
    <div id="container">
    <header>
        <nav>
            <ul class=" nav__links">
                <li><a href="contactUs.html"> Contact us</a></li>
                <li><a href="HomePage.html"> Home page</a></li>
            </ul>
        </nav>
    </header>

        <h2>A Dogs Life</h2>
        <img id="DogImg" src="../static/dog.jpg" alt="Dog">
        <p id="pText"></p> <br>
        <button id="buttonID" onclick="TypingText()">Featured Tip </button>
    
        <p>
            Hi everyone!  <br>
            this is the best dog page on the internet
        </p>

    </div>
</body>
</html>

